body {
    font-family: 'Roboto', sans-serif;
    background-image: url(../wall.jpg);
}


.text {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    color: #999;
}

.textWhite {
    font-size: 12px;
    color: #cccccc;
    font-family: 'Roboto', sans-serif;
}

.textDark {
    font-size: 12px;
    color: #666;
    font-family: 'Roboto', sans-serif;
}

#callButton {
    border-radius: 20px;
}

#hangupButton {
    border-radius: 20px;
}

#sendButton {
    border-radius: 20px;
    position: relative;
    top: 6px;
    right: -5px;
}

#localVideoDiv {
    background-color: #FFF;
    position: absolute;
    top: 300px;
    left: 10px;
    z-index: 7;
    box-shadow: 2px 4px 10px 2px #999;
    border: 1px solid #F90;
    object-fit: cover;
    min-height: 217px;
    min-width: 242px;
    border-radius: 0px 0px 5px 5px;
}

#localVideoTitle {
    background-color: #F90;
    padding: 5px;
    position: absolute;
    bottom: -10px;
    width: 240px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

#localVideo {
    position: absolute;
    top: 0px;
    z-index: 0;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
    filter: FlipH;

}


#remoteVideoDiv {
    background-color: #FFF;
    position: absolute;
    top: 130px;
    left: 270px;
    z-index: 7;
    box-shadow: 2px 4px 10px 2px #999;
    border: 1px solid #070;
    object-fit: cover;
    min-height: 397px;
    min-width: 482px;
    border-radius: 0px 0px 5px 5px;
}

#remoteVideoTitle {
    background-color: #070;
    padding: 5px;
    position: absolute;
    bottom: -10px;
    width: 480px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

#remoteVideo {
    position: absolute;
    top: 0px;
    z-index: 0;
}


.form-control {
    padding: 10px;
    margin: 5px;
}

#chatTitle {
    background-color: #0CF;
    padding: 5px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 499px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}


.chatContainer {
    z-index: 5;
    background-color: #FFF;
    position: absolute;
    top: 130px;
    right: 25px;
    text-align: left;
    margin: 10px;
    word-spacing: 5px;
    min-width: 500px;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 20px;
    float: right;
    display: block;
    line-height: 1.42857143;
    border: 1px solid #0CF;
    box-shadow: 2px 4px 10px 2px #999;
    border-radius: 0px 0px 5px 5px;
}

#head_div {
    background-image: url(clouds.jpg);
    background-repeat: repeat-x;
    position: relative;
    top: -20px;
    left: -10px;
    padding: 20px;
    width: 100%;
    height:
}

.footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-top: 10px;
    width: 100%;
    background-color: #0CF;
}