body {
    margin: 0;
    background: #000;
    font-size: 36px;
}


#stanza, h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    color: white;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 2;
}

#remoteVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
}

#callButton {
    position: fixed;
    bottom: 0px;
    left: 10px;
    width: 45%;
    height: 10%;
    font-size: 24px;
    border-radius: 20px;
}

#hangupButton {
    position: fixed;
    bottom: 0px;
    right: 10px;
    width: 45%;
    height: 10%;
    font-size: 24px;
    border-radius: 20px;
}

#localVideo {
    position: fixed;
    max-width: 30%;
    max-height: 30%;
    right: 0;
    top: 0;
    z-index: 1;
    transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
}

